.page {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: url('/images/login/bg-image.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 24px;
  left: 28px;
  font-size: 20px;
  font-weight: 700;
  color: var(--ds-text);
  z-index: 10;
}

.main {
  position: relative;
  z-index: 10;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 80px 16px;
}
